.main {
  padding: 20px 10px;
}

.hack h1 {
  padding-top: 0;
}

.example {
  margin-bottom: 20px;
}

.example .btn {
  margin-bottom: 10px;
}

footer.footer {
  border-top: 1px solid #ccc;
  margin-top: 5rem;
  padding: 3rem 0;
}

.grid-example {
  padding: 0 2px;
  background-color: #ccc;
  margin-bottom: 1rem;
}

.grid-example .cell {
  text-align: center;
  border: 1px solid #ccc;
  padding: 4px 2px;
  color: #999;
}

.grid-example .cell .content {
  background-color: #ddd;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: transparent;
  font-weight: normal;
}

.avatarholder {
  width: 6rem;
  height: 6rem;
  line-height: 5rem;
  font-size: 5rem;
  background-repeat: no-repeat;
  background-size: 6rem 6rem;
}
.scala-avatar {
  background-image: url('/img/scala-logo.svg');
}
.javascript-avatar {
  background-image: url('/img/javascript-logo.svg');
  opacity: .85;
}
.haskell-avatar {
  background-image: url('/img/haskell-logo.svg');
}
.aws-lambda-avatar {
  background-image: url('/img/aws-lambda-logo.svg');
}
.aws-api-gateway-avatar {
  background-image: url('/img/aws-api-gateway-logo.svg');
}

.hack section.page-content {
  margin: 3rem 0;
}

.media:not(:last-child) {
  margin-bottom: 2rem;
}

a {
  border: none 0;
}
.media-heading > a {
  color: inherit;
}
.media-heading > small {
  font-weight: normal;
  white-space: nowrap;
}
.media-heading > small > time {
  font-style: italic;
}
header .site-motto {
  font-size: .95rem;
  letter-spacing: .1rem;
  text-rendering: optimizeLegibility;
}
footer small {
  color: #666;
}
