a:hover {
  background-color: #cc6300;
}

.dark-grey a,
.dark-grey h1 a,
.dark-grey h2 a,
.dark-grey h3 a,
.dark-grey h4 a,
.dark-grey h5 a {
  /*color: #ff2e88;*/
  color: #e66f00;
  border-bottom: 0 none;
}
.dark-grey h1 a:hover,
.dark-grey h2 a:hover,
.dark-grey h3 a:hover,
.dark-grey h4 a:hover,
.dark-grey h5 a:hover {
  color: #fff;
}

.double-slash {
  color: #666;
}

article > h1 >small,
.media-heading > small {
  color: #666;
}

.hack article > h1:after {
  color: #666;
}

div.prism-show-language > div.prism-show-language-label {
  color: #999;
  background-color: #333;
}

.dark-grey pre {
  padding: 0 .5rem;
  border: solid 1px #333;
}

.opens_in_new_symbol {
  color: #777;
}

.wip-random-joke > .random-joke {
  color: #999;
  background-color: #181818;
}
