.dark-grey a,
.dark-grey h1 a,
.dark-grey h2 a,
.dark-grey h3 a,
.dark-grey h4 a,
.dark-grey h5 a {
  /*color: #ff2e88;*/
  /*color: #e66f00;*/
  color: #37bb33;
  border-bottom: 0 none;
}
.dark-grey a:hover,
.dark-grey h1 a:hover,
.dark-grey h2 a:hover,
.dark-grey h3 a:hover,
.dark-grey h4 a:hover,
.dark-grey h5 a:hover {
  background-color: transparent;
  border-bottom: solid 1px #37bb33;
}

.dark-grey .post-title {
  font-size: 1.1rem;
  color: #37bb33;
}
.dark-grey .post-section-title {
  color: #37bb33;
}

.dark-grey .grey-text {
  color: #666;
}

.dark-grey .btn.btn-default.btn-ghost,
.dark-grey .btn.btn-default.btn-ghost:hover,
.dark-grey .btn.btn-default.btn-ghost:focus {
  background-color: transparent;
  border: 1px solid #37bb33;
  color: #37bb33;
}

.double-slash {
  color: #666;
}

.media-heading > a:hover {
  background-color: transparent;
}

article > h1 >small,
.media-heading > small {
  color: #666;
}

.hack article > h1:after {
  color: #666;
}

div.prism-show-language > div.prism-show-language-label {
  color: #999;
  background-color: #333;
}

.dark-grey pre {
  padding: 0 .5rem;
  border: solid 1px #333;
}

.opens_in_new_symbol {
  color: #777;
}

.expand-collapse {
  cursor: pointer;
  color: #666;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #9872A2;
}