<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ogg (Valentin M. Padurean) />

   <!-- syntax highlighting CSS -->
   <!-- <link rel="stylesheet" href="/css/syntax.css" type="text/css" /> -->

   <!-- Homepage CSS -->
   <!-- <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" /> -->

   <link rel="stylesheet" type="text/css" href="css/github-markdown.css" media="screen">
   <link rel="stylesheet" type="text/css" href="css/github-light.css" media="screen">

   <!-- Typekit -->
   <script src="https://use.typekit.net/ess4odc.js"></script>
   <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Ogg (Valentin M. Padurean)</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Ogg (Valentin M. Padurean)
        <br />
        ogg@purecore.ro
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/padurean/">github.com/padurean</a><br />
        <a href="http://twitter.com/vpadure/">twitter.com/vpadure</a><br />
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/padurean"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>
